@font-face {
  font-family: Franklin Gothic;
  src: url(../fonts/FranklinGothic.ttf);
}

@font-face {
  font-family: Franklin Gothic SSi;
  src: url(../fonts/Franklin\ Gothic\ SSi\ Book.ttf);
}

#navbar {
  font-family: Franklin Gothic Heavy;
}

.card {
  font-family: Franklin Gothic SSi;
}

b {
  font-family: Franklin Gothic Heavy;
}

h4 {
  font-family: Franklin Gothic SSi;
}

h3 {
  font-family: Franklin Gothic Heavy;
}
h1 {
  font-family: Franklin Gothic Heavy;
}

p {
  font-family: Franklin Gothic SSi;
}

#map {
  width: 100%;
  height: 50vh;
}

.carousel {
  font-family: Franklin Gothic;
}
